# very large file
./books/Ben Shneiderman, Catherine Plaisant, Maxine Cohen, Steven Jacobs, Niklas Elmqvist, Nicholas Diakopoulos - Designing the User Interface_ Strategies for Effective Human-Computer Interaction-Pearson (201.pdf

books/

projects/CREST/UIST-2023-submission/CREST.mp4